/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #4e4caf;
    --secondary-color: #080d1c;

    --color-neutral-1: #f8fafc;
    --color-neutral-2: #4c4770;
    --color-neutral-3: #192d69;
}
/* Resetando margens, preenchimentos e definindo box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column; /* Organiza container e footer um em cima do outro */
    align-items: center;
    justify-content: space-between; /* Empurra o footer para a base */
    min-height: 100vh;
    background-color: var(--secondary-color);
    padding: 20px 0; /* Espaçamento para não colar nas bordas da tela */
}

/* Container */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#password_img {
    width: 100px;
}

#title {
    color: var(--color-neutral-1);
    font-weight: 500;
    margin-bottom: 10px;
}

/* Password */
#password_container {
    width: 100%;
    max-width: 400px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-1);
    border-radius: 8px;
    padding: 8px 18px;
}

#password_container.show {
    display: flex;
}

#password {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copy {
    background-color: transparent;
    border: none;
    color: var(--color-primary-1);
    height: 40px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color .4s;
}

#copy:hover {
    color: var(--color-primary-2);
}

/* Items */
#password_items {
    width: 400px;
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px;
}

.item {
    display: flex;
    gap: 14px;
}

#size {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button {
    opacity: 1;
}

#size:focus {
    outline: 1px solid var(--color-primary-1);
}

#generate {
    background-color: var(--secondary-color);
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-neutral-1);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .4s;
}

#generate:hover {
    background-color: var(--color-primary-2);
}

/* Estilização do Footer */
#footer {
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-1);
    width: 90%;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 12px; /* Bordas arredondadas */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer p {
    font-size: 14px;
    font-weight: 400;
}

#footer a {
    color: var(--color-neutral-1);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: opacity 0.3s;
}

#footer a span {
    font-size: 12px;
}

#footer a:hover {
    opacity: 0.8;
}

/** ##################### Estilos para o link do GitHub ##################### */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
    @keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
        @media (max-width:500px){
            .github-corner:hover .octo-arm{animation:none}
            .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
        }