/* Importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #4e4caf;
    --secondary-color: #080d1c;

    --color-neutral-1: #f8fafc;
    --color-neutral-2: #4c4770;
    --color-neutral-3: #192d69;
}
/* Resetando margens, preenchimentos e definindo box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#passworld_img {
    width: 100px;
    height: 100px;
}

#title {
    color: var(--color-neutral-1);
    font-weight: 500;
    margin-bottom: 10px;
}

#passworld_container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-neutral-2);
    color: var(--color-neutral-1);
    border-radius: 8px;
    padding: 8px 18px;
}

#passworld {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copy {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    height: 40px;
    width: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: color .4s;
}

#copy:hover {
    color: var(--secondary-color);
}

#passworld_items {
    width: 400px;
    background-color: var(--color-neutral-2);
    color: var(--color-neutral-1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px;
}

.item {
    display: flex;
    gap: 14px;
}

#size {
    width: 50px;
    text-align: center;
    display: flex;
    border: none;
    border-radius: 4px;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button {
    opacity: 1;
}

#size:focus {
    outline: 1px solid var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
}

#generate {
    background-color: var(--primary-color);
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 4px;
    color: var(--color-neutral-3);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: color .4s, background-color .4s;
}

#generate:hover {
    background-color: var(--secondary-color);
}